* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    padding: 1.5rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: wheat;
    font-size: 2rem;
    font-family: cursive;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: wheat;
    font-family: Georgia;
    font-size: 1.2rem;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
        gap:.6rem;
        padding: 1rem 1.4rem;
    }
}